# Django
DJANGO_SETTINGS_MODULE=core.settings.local
DEBUG=True
SECRET_KEY=your-secret-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Admin (для автсоздания при запуске)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

# Docker: для избежания конфликтов с другими проектами на сервере
COMPOSE_PROJECT_NAME=hd_realty
WEB_PORT=8000
DB_HOST_PORT=5432

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=hd_realty
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
